# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples
- Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. Numpy
4. Plotly

Data Science Tools | Jupyter Notebooks | Git Hub | Anaconda
------------------ | ----------------- | ------- | --------

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Paulo Henrique Barbosa